.container{
    height: fit-content;
    width: 200px;
    background-color: #ffa533;
    text-align: center;
}

.dele{
    color: red;
}
.list{
    text-decoration: underline;
    font-family: cursive;
    text-align: left;
}
.list1{
    text-decoration: line-through underline ;
    font-family: cursive ;
    text-align: left;
}